.root {
  display: inline-block;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #FAFAFA;
}

.wrap {
  max-width: 1215px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}