.root {
  position: absolute;
  display: inline-block;
  width: calc(100% - 240px);
  min-height: calc(100vh + 200px);
  background-color: #FAFAFA;
  padding: 20px 30px 20px;
}

.wrap {
  max-width: 1140px;
}

.box {
  border-radius: 7px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
  background: #fff;
  width: 1130px;
}