.root {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  transform: scaleX(1);
}

.curtain {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  opacity: 1;
}

.curtain.leave {
  opacity: 0;
}