.root {
  display: table;
  clear: both;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.root:before,
.root:after {
  display: table;
  clear: both;
  content: '';
}

@media (min-width: 1024px) {
  .root {
    padding-left: 0;
    padding-right: 0;
  }
}

.card {
  display: inline-block;
  position: relative;
  height: 180px;
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  vertical-align: top;
  font-family: 'HelveticaNeue-Light', Helvetica;
  background-image: linear-gradient(229deg, #44BCEF 1%, #3FB1ED 11%, #1A5BE1 100%);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 3px;
}

@media (min-width: 1024px) {
  .card {
    width: 430px;
    margin-bottom: 40px;
  }
}

.left {
  display: inline-block;
  height: 100%;
  width: 70px;
}

.copy {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 78%;
}

@media (min-width: 1024px) {
  .copy {
    width: 82%;
  }
  .card:nth-child(3) .copy,
  .card:nth-child(6) .copy,
  .card:nth-child(10) .copy {
    width: 91%;
  }
}

.question {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 200;
  margin-bottom: 10px;
}

.answer {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 200;
}

.mail {
  color: #fff;
  text-decoration: none;
}