.helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.helvetica-light {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
a:hover {
  text-decoration: none;
}
header.interior-header {
  background-color: #020f3c;
  height: 50px;
  margin-bottom: 30px;
}
.logo-container #logo {
  height: 30px;
  margin-top: 10px;
  display: inline-block;
}
.logo-container #logo img {
  height: 100%;
}
.nav {
  display: inline-block;
  float: left;
}
.nav .nav-link {
  color: #a0a0a0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  display: inline-block;
  padding: 5px 4px;
  margin: 10px;
}
.nav .nav-link.selected,
.nav .nav-link:hover {
  color: white;
  border-bottom: 1px solid white;
}
.user-photo-link {
  display: inline-block;
  float: right;
  padding: 8px;
  margin-left: 15px;
}
.user-photo-link .user-photo {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 3px;
  display: inline-block;
  background-size: cover;
}
.lean-overlay {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#215edd+0,4abced+100 */
  background: #215edd;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #215edd 0%, #4abced 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #215edd 0%, #4abced 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #215edd 0%, #4abced 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#215edd', endColorstr='#4abced', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  top: 0;
  opacity: 0.9 !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
}
#login-button {
  background-color: #4abced;
  color: white;
  margin-top: 8px;
}
#login.modal {
  background-color: transparent;
  box-shadow: none;
  top: -19% !important;
  overflow: visible;
  overflow-y: visible;
  max-width: 500px;
}
#login.modal .modal-logo-container {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 35px;
  display: block;
}
#login.modal .modal-logo-container img {
  width: 100%;
  margin: 0 auto;
}
#login.modal input {
  height: 45px;
  border: 1px solid #B2BCD3;
  box-shadow: none;
}
#login.modal input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57, 118, 224, 0.6);
}
#login.modal input::-webkit-input-placeholder {
  color: #B2BCD3;
}
#login.modal input:-moz-placeholder {
  /* Firefox 18- */
  color: #B2BCD3;
}
#login.modal input::-moz-placeholder {
  /* Firefox 19+ */
  color: #B2BCD3;
}
#login.modal input:-ms-input-placeholder {
  color: #B2BCD3;
}
#login.modal .form-group {
  margin-bottom: 25px;
}
#login.modal .name-form-group {
  height: 0px;
  overflow: hidden;
  transition: 0.5s height ease-in;
}
#login.modal .name-form-group.expanded {
  height: 70px;
}
#login.modal .terms {
  height: 0px;
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
  transition: 0.5s height ease-in;
}
#login.modal .terms.expanded {
  height: 40px;
}
#login.modal .copyright {
  color: white;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 8px;
}
#login.modal .modal-content {
  border: none;
  box-shadow: 0 5px 33px rgba(39, 39, 39, 0.5);
  border-radius: 0;
  text-align: center;
}
#login.modal .modal-content .welcome {
  border-bottom: 1px solid #67C7EF;
  color: #67C7EF;
  padding: 8px 0;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 15px;
}
#login.modal .modal-content .welcome:after {
  content: 'Welcome to Pique!';
}
#login.modal .modal-content .small-grey-text {
  color: #B2BCD3;
  margin-bottom: 15px;
  display: block;
  font-size: 12px;
}
#login.modal .modal-content a.small-grey-text {
  font-size: 14px;
}
#login.modal .modal-content a.small-grey-text:hover {
  color: #205fdc;
}
#login.modal .modal-content .social-icons-container {
  margin-bottom: 15px;
}
#login.modal .modal-content .social-icons-container .social-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 26px;
  padding-top: 12px;
  margin: 0 25px;
}
#login.modal .modal-content .social-icons-container .social-icon.facebook {
  background-color: #5576b5;
}
#login.modal .modal-content .social-icons-container .social-icon.twitter {
  background-color: #59adeb;
}
#login.modal .modal-content .social-icons-container .social-icon.google {
  background-color: #d7543a;
}
#login.modal .modal-content .submit-button + .submit-button {
  margin-left: 13px;
}
#login.modal .modal-content .submit-button {
  width: 48%;
  display: inline-block;
  border-radius: 50px;
  padding: 12px;
  font-weight: 300;
  font-size: 16px;
  border: none;
  transition: 0.1s all ease-in;
}
#login.modal .modal-content .submit-button.log-in {
  background-color: #3cd070;
  color: white;
  border: 1.5px solid #3cd070;
}
#login.modal .modal-content .submit-button.log-in:hover {
  background-color: #43b26a;
}
#login.modal .modal-content .submit-button.need-account {
  border: none;
  color: #67C7EF;
  background-color: white;
  border: 1.5px solid #67C7EF;
}
#login.modal .modal-content .submit-button.need-account:after {
  content: 'Need an Account?';
}
#login.modal .modal-content .submit-button.need-account:hover {
  background-color: #67C7EF;
  color: white;
}
#login.modal .modal-content.create-account .welcome:after {
  content: 'Sign Up for Pique!';
}
#login.modal .modal-content.create-account .need-account:after {
  content: 'Already have an Account?';
}
.control-label {
  color: #020F3C;
}
form#scholarship {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}
form#scholarship .form-group {
  margin-top: 30px;
}
form#scholarship .award-container .input-group {
  margin-top: 15px;
}
form#scholarship .award-container .input-group.award1 {
  margin-top: 0px;
}
body#questionnaire .container {
  max-width: 900px;
}
body#questionnaire header {
  margin-bottom: 0;
}
body#questionnaire .content {
  margin-top: 40px;
}
body#questionnaire .subheader {
  color: white;
  padding: 20px;
  background-color: #4abced;
}
body#questionnaire .subheader h1 {
  text-align: center;
  font-family: 'Helvetica Neue';
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 2.5em;
}
body#questionnaire button.remove {
  margin-top: 15px;
  background-color: white;
  border: 1px solid #dde2e7;
}
body#questionnaire .infographic {
  display: none;
  position: absolute;
  width: 355px;
  top: -50px;
  right: -175%;
  z-index: 100;
  box-shadow: 0px 7px 37px gray;
}
body#questionnaire #recommendation-info {
  color: #4abced;
  text-decoration: underline;
}
body#questionnaire #recommendation-info:hover .infographic {
  display: block;
}
body#questionnaire #add-award {
  width: 100%;
}
body#questionnaire .state1 {
  margin-top: 20px;
  width: 100%;
}
body#questionnaire .state1 input {
  width: 100%;
}
body.interior {
  background-color: #F0F1F2;
}
body.interior .content {
  background: white;
  padding: 0 50px;
}
.vertical-bottom {
  vertical-align: bottom;
  padding-top: 16px;
  vertical-align: inherit;
  line-height: 10px;
}
.action-bar {
  background: white;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 7px #d9d9da;
}
.action-bar table {
  width: 100%;
}
.action-bar table td {
  width: 25%;
  text-align: center;
}
.action-bar table td + td {
  border-left: 1px solid #dde2e7;
}
.action-bar table .number {
  font-size: 30px;
  padding-top: 20px;
}
.action-bar table .action-label {
  text-transform: uppercase;
  color: #a0a0a0;
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 20px;
}
.action-bar table .action-label.selected {
  border-bottom: 3px solid #4abced;
}
.application-count {
  color: #a0a0a0;
  margin-left: 10px;
}
.applicant-block {
  border: 1px solid #EDEEF0;
  background-color: #f9fafb;
  display: block;
  padding-bottom: 10px;
  box-shadow: 0px 2px 7px #d9d9da;
}
.applicant-block:hover {
  background-color: #dde2e7;
}
.applicant-block .applicant .user-photo-link {
  float: none;
  padding: 0;
  margin-top: 15px;
  margin-left: 25px;
}
.applicant-block .applicant .user-photo {
  height: 40px;
  width: 40px;
}
.applicant-block .applicant-name {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
  font-weight: 500;
}
.applicant-block .location {
  margin: 0;
  color: #a0a0a0;
  font-size: 14px;
}
.applicant-block .applicant-info-label {
  text-transform: uppercase;
  color: #a0a0a0;
  font-weight: 500;
  font-size: 12px;
  width: 60px;
  padding: 10px 15px 5px 25px;
  vertical-align: super;
}
.applicant-block .applicant-info {
  padding: 10px;
  padding-left: 0px;
  padding-right: 50px;
  padding-bottom: 5px;
  font-size: 14px;
  vertical-align: top;
}
.grey-label,
.gray-label {
  color: #a0a0a0;
  font-weight: 500;
}
#how-it-works {
  height: 250px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 7px #d9d9da;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
}
.invite-btn {
  width: 100%;
  font-size: 14px;
  background-color: #4abced;
  border: none;
  white-space: normal;
  padding: 10px;
}
.invite-btn i {
  margin-right: 8px;
  top: 1px;
  font-size: 18px;
  position: relative;
}
#modal1 {
  top: 25% !important;
}
#modal1 .chip {
  border-radius: 0;
}
#modal1 .chips {
  border: none;
  border: 1px solid #cccccc;
  box-shadow: none;
  margin-bottom: 6px;
  min-height: 45px;
  outline: none;
  border-radius: 5px;
  padding: 7px 9px 3px;
  transition: all .3s;
}
#modal1 .btn-primary {
  background-color: #4abced;
  border: none;
}
.modal {
  background: transparent;
  box-shadow: none;
}
body#applicant {
  padding-bottom: 100px;
}
body#applicant .container {
  max-width: 985px;
}
body#applicant header {
  margin-bottom: 0;
}
body#applicant header .container {
  max-width: none;
}
.cover-photo {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 150px;
}
.profile-pic {
  background-size: cover;
  background-color: white;
  border-radius: 8px;
  background-position: center center;
  height: 160px;
  width: 160px;
  margin-right: 25px;
  position: relative;
  top: -40px;
}
.applicant-info h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 36px;
}
.applicant-info h4 {
  font-weight: 200;
  font-size: 16px;
}
.applicant-info h4.locations {
  color: #a0a0a0;
}
.applicant-info h4 i {
  vertical-align: middle;
  font-size: 16px;
}
.bottom h6 {
  color: #a0a0a0;
  text-transform: uppercase;
}
.bottom .comments {
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 7px #d9d9da;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px 15px;
}
.bottom .comments .comment {
  border-bottom: 1px solid #f2f3f4;
  padding-bottom: 15px;
  padding-top: 10px;
}
.bottom .comments .comment:last-child {
  border-bottom: none;
}
.bottom .comments .comment-header {
  width: 100%;
  display: inline-block;
}
.bottom .comments .comment-header .star-container {
  color: #4abced;
}
.bottom .comments .comment-header .user-photo-link {
  margin-left: 0px;
  padding-left: 0px;
  padding-top: 0px;
}
.bottom .comments .comment-header .user-photo-link .user-photo {
  width: 40px;
  height: 40px;
}
.bottom .comments .comment-header h5.name {
  color: #020f3c;
  margin-bottom: 0px;
}
.section {
  margin-top: 35px;
}
.section h3 {
  color: #a0a0a0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-top: 0px;
  font-weight: 200;
}
.section i {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 5px;
}
.section .glyphicon {
  margin-right: 9px;
}
.section .doc-preview {
  display: inline-block;
  border: 2px solid #e2eaf3;
  width: 249px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.section .doc-preview .doc {
  width: 100%;
  background-color: white;
  height: 100px;
  background-size: 80%;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: top center;
}
.section .doc-preview .doc-title {
  background-color: #e2eaf3;
  color: #535454;
  padding: 8px 8px 5px;
}
.ratings {
  background-color: white;
  box-shadow: 0px 2px 7px #d9d9da;
  border-radius: 5px;
  padding: 0px 25px 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.ratings h3 {
  margin-top: 35px;
  font-size: 18px;
  font-weight: 200;
  color: #020f3c;
}
.ratings .big-star-container {
  color: #4abced;
  font-size: 26px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dde2e7;
}
.ratings .form-group {
  text-align: center;
  margin-top: 20px;
}
.stuck-footer {
  background-color: #020f3c;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 10px 15px;
}
.stuck-footer button {
  background-color: #4abced;
}
body#about .about-banner {
  width: 100%;
  position: absolute;
  z-index: -1;
}
body#about .nav {
  margin-right: 20px;
}
body#about .nav-link {
  color: white;
  font-weight: 200;
  letter-spacing: 1px;
}
body#about #login-button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}
body#about .about-header {
  background-image: url('images/about/about-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 490px;
  width: 100%;
}
body#about .about-header .clearfix {
  margin-top: 20px;
}
body#about .about-header h1 {
  font-size: 30px;
  text-align: center;
  font-family: 'Avenir Next', sans-serif;
  color: white;
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 214px;
}
@media screen and (max-width: 991px) {
  body#about .about-header h1 {
    width: 100%;
  }
}
body#about .light-blue-container {
  text-align: center;
  background-color: #F9FBFF;
  padding-bottom: 90px;
}
body#about .light-blue-container .flag {
  display: block;
  margin: 35px auto;
  margin-top: 45px;
}
body#about .light-blue-container .about-text {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 400;
  line-height: 35px;
  font-size: 16px;
}
body#about .light-blue-container .about-text span {
  font-weight: 700;
}
body#about .section-header {
  font-family: 'Avenir Next', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
  font-weight: 700;
  display: inline-block;
  margin-top: 70px;
}
body#about .team {
  text-align: center;
}
body#about .team .section-header {
  margin-top: 80px;
  margin-bottom: 120px;
}
