.helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.helvetica-light {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
a:hover {
  text-decoration: none;
}
header.interior-header {
  background-color: #020f3c;
  height: 50px;
  margin-bottom: 30px;
}
.logo-container #logo {
  height: 30px;
  margin-top: 10px;
  display: inline-block;
}
.logo-container #logo img {
  height: 100%;
}
.nav {
  display: inline-block;
  float: left;
}
.nav .nav-link {
  color: #a0a0a0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  display: inline-block;
  padding: 5px 4px;
  margin: 10px;
}
.nav .nav-link.selected,
.nav .nav-link:hover {
  color: white;
  border-bottom: 1px solid white;
}
.user-photo-link {
  display: inline-block;
  float: right;
  padding: 8px;
  margin-left: 15px;
}
.user-photo-link .user-photo {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 3px;
  display: inline-block;
  background-size: cover;
}
.lean-overlay {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#215edd+0,4abced+100 */
  background: #215edd;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #215edd 0%, #4abced 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #215edd 0%, #4abced 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #215edd 0%, #4abced 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#215edd', endColorstr='#4abced', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  top: 0;
  opacity: 0.9 !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
}
#login-button {
  background-color: #4abced;
  color: white;
  margin-top: 8px;
}
#login.modal {
  background-color: transparent;
  box-shadow: none;
  top: -19% !important;
  overflow: visible;
  overflow-y: visible;
  max-width: 500px;
}
#login.modal .modal-logo-container {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 35px;
  display: block;
}
#login.modal .modal-logo-container img {
  width: 100%;
  margin: 0 auto;
}
#login.modal input {
  height: 45px;
  border: 1px solid #B2BCD3;
  box-shadow: none;
}
#login.modal input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57, 118, 224, 0.6);
}
#login.modal input::-webkit-input-placeholder {
  color: #B2BCD3;
}
#login.modal input:-moz-placeholder {
  /* Firefox 18- */
  color: #B2BCD3;
}
#login.modal input::-moz-placeholder {
  /* Firefox 19+ */
  color: #B2BCD3;
}
#login.modal input:-ms-input-placeholder {
  color: #B2BCD3;
}
#login.modal .form-group {
  margin-bottom: 25px;
}
#login.modal .name-form-group {
  height: 0px;
  overflow: hidden;
  transition: 0.5s height ease-in;
}
#login.modal .name-form-group.expanded {
  height: 70px;
}
#login.modal .terms {
  height: 0px;
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
  transition: 0.5s height ease-in;
}
#login.modal .terms.expanded {
  height: 40px;
}
#login.modal .copyright {
  color: white;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 8px;
}
#login.modal .modal-content {
  border: none;
  box-shadow: 0 5px 33px rgba(39, 39, 39, 0.5);
  border-radius: 0;
  text-align: center;
}
#login.modal .modal-content .welcome {
  border-bottom: 1px solid #67C7EF;
  color: #67C7EF;
  padding: 8px 0;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 15px;
}
#login.modal .modal-content .small-grey-text {
  color: #B2BCD3;
  margin-bottom: 15px;
  display: block;
  font-size: 12px;
}
#login.modal .modal-content a.small-grey-text {
  font-size: 14px;
}
#login.modal .modal-content a.small-grey-text:hover {
  color: #205fdc;
}
#login.modal .modal-content .social-icons-container {
  margin-bottom: 15px;
}
#login.modal .modal-content .social-icons-container .social-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 26px;
  padding-top: 12px;
  margin: 0 25px;
}
#login.modal .modal-content .social-icons-container .social-icon.facebook {
  background-color: #5576b5;
}
#login.modal .modal-content .social-icons-container .social-icon.twitter {
  background-color: #59adeb;
}
#login.modal .modal-content .social-icons-container .social-icon.google {
  background-color: #d7543a;
}
#login.modal .modal-content .submit-button + .submit-button {
  margin-left: 13px;
}
#login.modal .modal-content .submit-button {
  width: 48%;
  display: inline-block;
  border-radius: 50px;
  padding: 12px;
  font-weight: 300;
  font-size: 16px;
  border: none;
  transition: 0.1s all ease-in;
}
#login.modal .modal-content .submit-button.log-in {
  background-color: #3cd070;
  color: white;
  border: 1.5px solid #3cd070;
}
#login.modal .modal-content .submit-button.log-in:hover {
  background-color: #43b26a;
}
#login.modal .modal-content .submit-button.need-account {
  border: none;
  color: #67C7EF;
  background-color: white;
  border: 1.5px solid #67C7EF;
}
#login.modal .modal-content .submit-button.need-account:hover {
  background-color: #67C7EF;
  color: white;
}
.control-label {
  color: #020F3C;
}
form#scholarship {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}
form#scholarship .form-group {
  margin-top: 30px;
}
body.interior {
  background-color: #F0F1F2;
}
body.interior .content {
  background: white;
}
.vertical-bottom {
  vertical-align: bottom;
  padding-top: 16px;
  vertical-align: inherit;
  line-height: 10px;
}
.action-bar {
  background: white;
  border-radius: 8px;
  padding: 25px 0px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 7px #d9d9da;
}
.action-bar table {
  width: 100%;
}
.action-bar table td {
  width: 25%;
  text-align: center;
}
.action-bar table td + td {
  border-left: 1px solid #dde2e7;
}
.action-bar table .number {
  font-size: 30px;
}
.action-bar table .action-label {
  text-transform: uppercase;
  color: #a0a0a0;
  font-size: 13px;
  font-weight: 500;
}
.application-count {
  color: #a0a0a0;
  margin-left: 10px;
}
.applicant-block {
  border: 1px solid #EDEEF0;
  background-color: #f9fafb;
  display: block;
  padding-bottom: 10px;
  box-shadow: 0px 2px 7px #d9d9da;
}
.applicant-block:hover {
  background-color: #dde2e7;
}
.applicant-block .applicant .user-photo-link {
  float: none;
  padding: 0;
  margin-top: 15px;
  margin-left: 25px;
}
.applicant-block .applicant .user-photo {
  height: 40px;
  width: 40px;
}
.applicant-block .applicant-name {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
  font-weight: 500;
}
.applicant-block .location {
  margin: 0;
  color: #a0a0a0;
  font-size: 14px;
}
.applicant-block .applicant-info-label {
  text-transform: uppercase;
  color: #a0a0a0;
  font-weight: 500;
  font-size: 12px;
  width: 60px;
  padding: 10px 15px 5px 25px;
  vertical-align: super;
}
.applicant-block .applicant-info {
  padding: 10px;
  padding-left: 0px;
  padding-right: 50px;
  padding-bottom: 5px;
  font-size: 14px;
  vertical-align: top;
}
.grey-label,
.gray-label {
  color: #a0a0a0;
  font-weight: 500;
}
#how-it-works {
  height: 250px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 7px #d9d9da;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
}
.invite-btn {
  width: 100%;
  font-size: 14px;
  background-color: #4abced;
  border: none;
  white-space: normal;
  padding: 10px;
}
.invite-btn i {
  margin-right: 8px;
  top: 6px;
  font-size: 18px;
  position: relative;
}
