.clearfix {
  zoom: 1;
}

.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.p-header {
  position: fixed;
  width: 100%;
  padding: 10px 40px;
  z-index: 40;
  top: 10px;
  transition: all 0.2s ease;
}

.p-header._educators {
  position: absolute;
}

.p-fill {
  background-color: #132663;
  top: 0px;
  transition: all 0.4s ease;
}

.p-hero {
  background-image: url('../../images/002-hero.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
  width: 100%;
  transition: 0.4s all ease-in;
  -webkit-mask-image: url(../../images/c-mask.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: bottom;
}

.p-hero._about {
  background-image: url('../../images/101-hero.jpg');
  height: 400px;
}

.p-hero h1 {
  font-size: 42px;
  text-shadow: 0px 1px 5px #949292;
}

.p-hero._about h1 {
  top: 180px;
}

.p-hero button#sign-up-free {
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 383px;
  display: inline-block;
  right: 0;
  border: 2px solid white;
  background: transparent;
  border-radius: 40px;
  padding: 10px 26px;
  color: white;
  letter-spacing: 1px;
  width: 220px;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  transition: 0.2s background-color ease-in;
}
.p-hero button#sign-up-free:hover {
  background-color: white;
  color: #0F9A7B;
}
.p-hero h6 {
  position: absolute;
  top: 252px;
  color: white;
  letter-spacing: 1px;
  width: 54%;
  font-size: 17px;
  text-align: center;
  font-weight: 200;
  margin: 0 auto;
  left: 0;
  line-height: 26px;
  right: 0;
}
.p-fade {
  width: 100%;
  height: 100%;
  background-color: #132663;
  opacity: 0;
}

.p-hero h1 {
  text-align: center;
  font-family: 'Avenir Next', sans-serif;
  color: white;
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 252px;
  left: 0;
  font-weight: 400;
  right: 0;
  letter-spacing: 2px;
}

.p-hero._about h1 {
  font-size: 30px;
}


@media screen and (max-width: 991px) {
  .about .p-hero h1 {
    width: 100%;
  }
}

.p-backdrop:after,
.p-hero:after {
  width: 100%;
  height: 100%;
  display: inline-block;
  content: '';
  background: black;
  opacity: 0;
  transition: 0.5s opacity ease-in;
}

.p-backdrop.p-fixed:after,
.p-hero.p-fixed:after {
  opacity: 1;
  transition: 0.5s opacity ease-in;
}

#landing .section-header {
  margin-bottom: 30px;
  margin-top: -10px;
}
#landing .university-partners {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
#landing .hard-facts {
  text-align: center;
}
#landing .hard-facts .loaned {
  color: #E1D113;
  font-weight: 800;
  font-family: 'Avenir Next', sans-serif;
  font-size: 70px;
  text-shadow: 5px 2px 12px rgba(225, 209, 19, 0.33);
}
#landing .hard-facts .second-section {
  position: relative;
  top: 159px;
  margin-bottom: 180px;
}
#landing .hard-facts .second-section h3 {
  font-family: 'Avenir Next', sans-serif;
  font-size: 60px;
  font-weight: 800;
}
#landing .hard-facts .second-section .graduating {
  color: #2BDBB4;
}
#landing .hard-facts .second-section .loan {
  color: #26E98F;
}
#landing .hard-facts .second-section .tuition {
  color: #51BBF1;
}
#landing .hard-facts .number-label {
  color: #B2BCD3;
  font-family: 'Avenir Next', sans-serif;
  font-size: 15px;
}
#landing .blue1 {
  background-color: #4874ec;
  margin-top: 50px;
}

#sign-up.modal.open #login.login-form input {
  padding-left: 15px;
  border-radius: 5px;
  outline-style: none;
  color: #000;
}

#sign-up.modal.open #login.login-form select {
  text-indent: 7.5px;
  margin-bottom: 20px;
}

#sign-up.modal.open #login.login-form input:focus {
  border: 1px solid #4570F0;
  box-shadow: none;
}


#sign-up.modal.open #login.login-form #login-email,
#sign-up.modal.open #login.login-form #login-location,
#sign-up.modal.open #login.login-form #login-names {
  height: 45px;
  margin-bottom: 20px;
}

#login-location #p-login-city,
#login-names #p-login-first_name {
  float: left;
  width: 48%;
}

#login-location #p-login-state,
#login-names #p-login-last_name {
  float: right;
  width: 48%;
}

#sign-up.modal.open #login.login-form #login-school,
#sign-up.modal.open #login.login-form #login-nonprofit,
#sign-up.modal.open #login.login-form #login-employer {
  display: none;
  height: 45px;
  margin-bottom: 5px;
}

#login-school #p-login-school,
#login-nonprofit #p-login-nonprofit,
#login-employer #p-login-employer,
#login-email #p-login-email {
  width: 100%;
}

.p-notify {
  color: red;
  margin-bottom: 15px;
  display: block;
  font-size: 12px;
  height: 17px;
}

#login.modal .modal-content .welcome:after,
#sign-up.modal .modal-content .welcome:after,
#share.modal .modal-content .welcome:after {
  content: 'Sign up with Pique!';
}

#share.modal {
  width: auto;
}

.p-dc {
  background-image: url('../../images/006-dc.jpg');
}

.p-dc .cell h2 {
  font-weight: 100;
  font-size: 20px;
}

#p-scholarships .p-scholarships {
  font-weight: 200;
  line-height: 24px;
  margin-bottom: 40px;
}

#p-scholarships .p-scholarships .p-lead {
  font-weight: 600;
}

#p-scholarships h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
}

#p-scholarships {
  color: #fff;
  background: #44008D;
  background: -moz-linear-gradient(-45deg, #44008d 0%, #125aac 100%);
  background: -webkit-linear-gradient(-45deg, #44008d 0%, #125aac 100%);
  background: linear-gradient(-45deg, #44008d 0%, #125aac 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44008D', endColorstr='#125AAC', GradientType=1);
  font-family: 'Avenir Next';
}
#p-scholarships .blue-section {
  padding: 0 50px;
  padding-top: 20px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: bottom;
}

#p-scholarships .screenshot {
  width: 50%;
}
#p-scholarships .blue-texts {
  width: 70%;
  font-size: 18px;
  line-height: 24px;
  max-width: 800px;
  color: #fff;
  margin-bottom: 40px;
}
#p-scholarships .blue-texts .blue-header {
  color: #fff;
}
#p-scholarships .blue-texts .button-container a {
  display: inline-block;
  width: 180px;
  padding: 7px;
  border-radius: 40px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid #fff;
  margin-top: 25px;
  transition: 0.2s all ease-in;
}

.p-line {
  display: block;
}

#p-scholarships .blue-texts .button-container a.modal-trigger {
  background-color: #fff;
  color: #44008D;
}

#p-scholarships .screenshot.fadeInRight {
  position: absolute;
  width: 50%;
  right: 0;
  top: -135px;
  z-index: 4;
}

#p-scholarships #blue1 .screenshot {
  margin-top: -40px;
}

.blue-sections #blue3 {
  height: 550px;
}

.blue-sections #blue3 .blue-texts {
  bottom: 0;
}

.cards {
  padding: 80px 15px 145px;
}

#first-card {
  max-width: 550px;
  height: 630px;
  margin: 0 auto;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out; }
  .waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.7s ease-out;
    transition-property: transform, opacity;
    transform: scale(0);
    pointer-events: none; }
  .waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45); }
  .waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7); }
  .waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7); }
  .waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7); }
  .waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7); }
  .waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7); }
  .waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7); }
  .waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none; }
  .waves-effect img {
    position: relative;
    z-index: -1; }

.waves-notransition {
  transition: none !important; }

.waves-circle {
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom; }
  .waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none; }

.waves-block {
  display: block; }

/* Firefox Bug: link not triggered */
.waves-effect .waves-ripple {
  z-index: -1; }

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity; }
  @media only screen and (max-width: 992px) {
    .modal {
      width: 80%; } }
  .modal h1, .modal h2, .modal h3, .modal h4 {
    margin-top: 0; }
  .modal .modal-content {
    padding: 24px; }
  .modal .modal-close {
    cursor: pointer; }
  .modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%; }
    .modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
      float: right;
      margin: 6px 0; }

.lean-overlay {
  position: fixed;
  z-index: 999;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: linear-gradient(45deg, #215edd 0%, #4abced 100%);
  display: none;
  will-change: opacity; }

.modal.modal-fixed-footer {
  padding: 0;
  height: 70%; }
  .modal.modal-fixed-footer .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto; }
  .modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0; }

.p-backdrop {
  background: #215edd;
  background: -moz-linear-gradient(45deg, #215edd 0%, #4abced 100%);
  background: -webkit-linear-gradient(45deg, #215edd 0%, #4abced 100%);
  background: linear-gradient(45deg, #215edd 0%, #4abced 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#215edd', endColorstr='#4abced', GradientType=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-position: center center;
  margin-bottom: 42px;
  height: 729px;
  width: 100%;
  position: relative;
}

.p-backdrop h1 {
  font-size: 30px;
  text-align: center;
  font-family: 'Avenir Next', sans-serif;
  color: white;
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
}

@media screen and (max-width: 991px) {
  .p-backdrop h1 {
    width: 100%;
  }
}

.p-backdrop h6 {
  position: absolute;
  top: 272px;
  left: 0;
  right: 0;
  color: white;
  width: 64%;
  font-size: 17px;
  text-align: center;
  font-weight: 100;
  margin: 0 auto;
  line-height: 22px;
  letter-spacing: 1px;
}

@media (min-width: 1024px) {
  .p-backdrop h6 {
    top: 287px;
    line-height: 26px;
    width: 845px;
  }
}

.row._students {
  margin: 0;
}

.select-slider-container._students {
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  width: auto;
}

.banner-form .select-slider-container {
  display: inline-block;
  position: absolute;
  border-radius: 25px;
  margin: 0 auto;
  top: -5px;
  width: 100%;
}

#team .no-padding:first-child .square {
  background-image: url('../../images/102-brian-min.png');
}
#team .no-padding:nth-child(2) .square {
  background-image: url('../../images/103-kyle-min.png');
}
#team .no-padding:nth-child(3) .square {
  background-image: url('../../images/104-adam-min.png');
}
#team .no-padding:nth-child(4) .square {
  background-image: url('../../images/105-nnamdi-min.png');
}
#team .no-padding:nth-child(5) .square {
  background-image: url('../../images/106-kevin-min.png');
}
#team .no-padding:nth-child(6) .square {
  background-image: url('../../images/107-karina-min.png');
}

#e-share {
  padding-top: 80px;
  display: none;
}

#e-share .social-icons-container {
  margin-top: 30px;
  text-align: center;
}

.e-confirm {
  font-family: 'Avenir Next', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #3162C6;
  line-height: 24px;
}

.e-confirm img {
  margin-bottom: 20px;
}

#e-share .social-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 26px;
  padding-top: 12px;
  margin: 0 25px;
}

#e-share .facebook.social-icon {
  background-color: #5576b5;
}
#e-share .twitter.social-icon {
  background-color: #59adeb;
}
#e-share .google.social-icon {
  background-color: #d7543a;
}

.e-footer {
  position: relative;
  text-align: center;
}

.e-footer .p-notify {
  margin-top: 0px;
  display: block;
  font-size: 12px;
  height: 3px;
}

li {
  list-style: none;
}

.p-providers-hero {
  position: relative;
  padding-top: 150px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Avenir Next';
}

.p-checklist {
  color: #fff;
  max-width: 630px;
  margin: 0 auto;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.p-checklist .p-h1 {
  font-size: 30px;
  line-height: 38px;
  text-align: center;
}

.p-checklist .p-h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.p-checklist .p-subtitle {
  display: block;
  font-size: 20px;
  font-weight: 200;
}

.p-tablet-screens {
  position: relative;
  max-width: 900px;
  margin: 40px auto 0 auto;
}

.p-tablet-img {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}

.p-provider-hero-btn {
  text-align: center;
}

#educators .banner-form,
#students .banner-form {
  box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.15);
}

#provider .gradient-header {
  height: 630px;
}

#provider .step-section .step {
  padding-left: 10px;
  transition: 0.3s color ease-in-out;
}

#provider  .step-section .step h3 {
  margin-top: 5px;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
  transition: 0.3s color ease-in-out;
}
#provider .step-section .step h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #505050;
}
#provider .step-section .step.header-on h3 {
  color: #4A90E2;
}

#provider .section-header {
  color: #fff;
}

.section-header {
  text-align: center;
  font-weight: 200;
  font-size: 24px;
}

.section-header.long {
  display: block;
  position: relative;
}

.section-header.long:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: -10px;
  margin: 0 auto;
  border-bottom: none;
  width: 90px;
  height: 2px;
  background-color: #fff;
}

#provider .section-header {
  display: block;
  text-align: center;
  border: none;
}
#provider .easier-section .section-header {
  margin-bottom: 100px;
}

#provider .image-slider-section .section-header {
 margin-bottom: 20px;
}

#provider .image-slider-section .section-header.long {
  color: #000;
}
#provider .image-slider-section .section-header.long:after {
  content: '';
  background-color: #000;
}

@media (min-width: 1024px) {
  #provider .section-header {
    font-size: 36px;
  }
}

.easier-section {
  color: #fff;
  background: linear-gradient(45deg, #215edd 0%, #4abced 100%);
}

#provider .gradient-header #filled-button {
  font-size: 18px;
  margin-top: 100px;
}

.easier-section {
  display: inline-block;
  width: 100%;
  padding-bottom: 70px;
}

.p-grid {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.quarter {
  width: 100%;
  position: relative;
  text-align: center;
  vertical-align: top;
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  .quarter {
    display: inline-block;
    width: 475px;
    padding: 20px;
    margin-bottom: auto;
  }
}

.quarter .p-h3 {
  font-weight: 200;
  margin-top: 20px;
  font-size: 24px;
}
.quarter .p-h5 {
  margin: 30px auto 0 auto;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  line-height: 27px;
  max-width: 410px;
}

.quarter .p-h5 span {
  font-weight: 500;
}

.image-slider-section {
  padding-top: 110px;
}