.clearfix {
  zoom: 1;
}

.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

#sign-up.modal.open #login.login-form input {
  padding-left: 15px;
  border-radius: 5px;
  outline-style: none;
  color: #000;
}

#sign-up.modal.open #login.login-form select {
  text-indent: 7.5px;
  margin-bottom: 20px;
}

#sign-up.modal.open #login.login-form input:focus {
  border: 1px solid #4570F0;
  box-shadow: none;
}


#sign-up.modal.open #login.login-form #login-email,
#sign-up.modal.open #login.login-form #login-location,
#sign-up.modal.open #login.login-form #login-names {
  height: 45px;
  margin-bottom: 20px;
}

#login-location #p-login-city,
#login-names #p-login-first_name {
  float: left;
  width: 48%;
}

#login-location #p-login-state,
#login-names #p-login-last_name {
  float: right;
  width: 48%;
}

#sign-up.modal.open #login.login-form #login-school,
#sign-up.modal.open #login.login-form #login-nonprofit,
#sign-up.modal.open #login.login-form #login-employer {
  display: none;
  height: 45px;
  margin-bottom: 5px;
}

#login-school #p-login-school,
#login-nonprofit #p-login-nonprofit,
#login-employer #p-login-employer,
#login-email #p-login-email {
  width: 100%;
}

.p-notify {
  color: red;
  margin-bottom: 15px;
  display: block;
  font-size: 12px;
  height: 17px;
}

#login.modal .modal-content .welcome:after,
#sign-up.modal .modal-content .welcome:after,
#share.modal .modal-content .welcome:after {
  content: 'Sign up with Pique!';
}

#share.modal {
  width: auto;
}

.p-dc {
  background-image:url('../../images/about/dc.jpg')
}

#p-scholarships .p-scholarships {
  font-weight: 200;
  line-height: 23px;
  margin-bottom: 40px;
}

#p-scholarships .p-scholarships .p-lead {
  font-weight: 600;
}

#p-scholarships h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
}

#p-scholarships {
  color: #fff;
  background: #44008D;
  background: -moz-linear-gradient(-45deg, #44008d 0%, #125aac 100%);
  background: -webkit-linear-gradient(-45deg, #44008d 0%, #125aac 100%);
  background: linear-gradient(-45deg, #44008d 0%, #125aac 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44008D', endColorstr='#125AAC', GradientType=1);
  font-family: 'Avenir Next';
}
#p-scholarships .blue-section {
  padding: 0 50px;
  padding-top: 20px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: bottom;
}

#p-scholarships .screenshot {
  width: 50%;
}
#p-scholarships .blue-texts {
  width: 70%;
  font-size: 16px;
  line-height: 27px;
  max-width: 800px;
  color: #fff;
  margin-bottom: 40px;
}
#p-scholarships .blue-texts .blue-header {
  color: #fff;
}
#p-scholarships .blue-texts .button-container a {
  display: inline-block;
  width: 180px;
  padding: 7px;
  border-radius: 40px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid #fff;
  margin-top: 25px;
  transition: 0.2s all ease-in;
}

.p-line {
  display: block;
}

#p-scholarships .blue-texts .button-container a.modal-trigger {
  background-color: #fff;
  color: #44008D;
}


#p-scholarships .screenshot.fadeInRight {
  position: absolute;
  width: 50%;
  right: 0;
  top: -135px;
  z-index: 4;
}

.blue-sections #blue1 .screenshot {
  margin-top: -40px;
}

.blue-sections #blue3 {
  height: 550px;
}

.blue-sections #blue3 .blue-texts {
  bottom: 0;
}
