.root {
  width: 100%;
  margin: 0 auto;
}

.dropdown {
  position: relative;
  width: 100%;
  height: 60px;
  cursor: pointer;
}

.title {
  display: block;
  margin-left: 40px;
  color: #B2BCD3;
  line-height: 60px;
  font-weight: 200;
  font-size: 13px;
  font-family: 'HelveticaNeue-Thin', Helvetica;
}

.open .title {
  color: #fff;
}

.caret {
  position: absolute;
  top: 25px;
  right: 25px;
  transition: all 0.2s ease-in-out;
}

.open .caret {
  transform: rotate(180deg);
}

.ul {
  padding-left: 0;
  margin: 0 auto;
}

.li {
  display: none;
  position: relative;
  width: 100%;
  height: 0px;
  list-style: none;
  background-color: #0B113A;
  transition: all 0.3s ease-in-out;
}

.open .li {
  display: block;
  height: 50px;
}

.link {
  height: 100%;
  text-decoration: none;
  color: #B2BCD3;
}

.caption {
  margin-left: 30%;
  font-size: 13px;
  font-weight: 200;
  font-family: 'HelveticaNeue-Thin', Helvetica;
  line-height: 50px;
}

.active .caption {
  color: #fff;
}
