.root {
  background: linear-gradient(45deg, #44008d 0%, #194bbc 100%);
  text-align: center;
  padding: 15px 50px 50px;
}

@media (min-width: 1024px) {
  .root {
    height: 760px;
  }
}

.header {
  display: block;
  position: relative;
  margin: 0 auto 20px;
  line-height: 40px;
  text-align: center;
  font-family: 'Avenir Next', sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  border: none;
}

.header:after {
  position: absolute;
  content: '';
  right: 0;
  left: 0;
  bottom: -10px;
  margin: 0 auto;
  border-bottom: none;
  background-color: #fff;
  width: 90px;
  height: 2px;
}

.box {
  position: relative;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.37);
  padding: 20px 15px 35px;
  width: 100%;
  color: #fff;
  font-family: 'Avenir Next', sans-serif;
}


.box img {
  width: 75px;
  height: 75px;
}

.title {
  font-size: 18px;
  margin: 20px auto;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .title {
    margin-bottom: 10px;
    font-size: 26px;
  }
}