.root {
  margin-bottom: 14px;
}

.label {
  display: inline-block;
  color: #888;
  font-size: 13px;
  font-weight: 300;
  text-align: right;
  margin-right: 25px;
  margin-bottom: 14px;
  width: 165px;
}

.field {
  display: inline-block;
  width: 330px;
}