.root {
  background-color: #2000E8;
  height: 60px;
  width: 100%;
  color: #fff;
}

.wrap {
  position: relative;
  max-width: 1400px;
}

.wrap:after {
  display: block;
  content: '';
  clear: both;
}

.brand {
  float: left;
  width: 215px;
}

.logo {
  width: 90px;
  height: auto;
  margin: 10px auto 0;
}

.nav {
  position: relative;
  float: right;
  width: calc(100% - 215px);
  max-width: 1215px;
  height: 60px;
  margin: 0 auto;
}

.btns {
  position: absolute;
  top: 10px;
  left: 30px;
}

.border {
  position: absolute;
  top: 5px;
  left: 216px;
  width: 1px;
  background-color: #1A85FF;
  margin: 5px auto;
  height: 40px;
}

.btn {
  display: inline-block;
  font-family: 'HelveticaNeue-Medium', Helvetica;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 5px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
}

.settings {
  position: absolute;
  top: 20px;
  right: 20px;
}

.ul {
  display: flex;
  position: relative;
  margin: 0 auto;
}

.li {
  display: inline-block;
  list-style: none;
  height: 100%;
  width: 65px;
  vertical-align: middle;
}