.root {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  padding-top: 55px;
}

.bg {
  position: relative;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}

.logo {
  position: absolute;
  bottom: -59px;
  left: 0;
  right: 0;
  height: 118px;
  width: 118px;
  background-image: linear-gradient(229deg, rgba(23,127,255,0.96) 1%, #12A0C7 27%, #05FA28 100%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 9px;
  margin: 0 auto;
}

.content {
  margin-top: 100px;
}

.header {
  font-family: 'Helvetica Neue', Helvetica, san-serif;
  font-size: 50px;
  line-height: 60px;
  color: #000;
  text-align: center;
}