.root {

}

.header {
  composes: header from '../../style.css';
}

.box {
  composes: box from '../../style.css';
  padding: 0 50px;
}

.section {
  padding: 40px 0 40px;
  border-bottom: 1px solid #EFEFEF;
}

.title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 19px;
  color: #2B2A2A;
  margin-bottom: 20px;
}

.icon {
  margin-right: 20px;
}

.copy {
  composes: copy from '../../style.css';
}

.placeholder {
  composes: placeholder from '../../style.css';
}

.activity {
  margin-bottom: 30px;
}

.position:after {
  display: block;
  content: '';
  clear: both;
}

@media (min-width: 668px) {
  .position .strong:nth-child(1) {
    float: left;
  }
  .position .strong:nth-child(2) {
    float: right;
  }
}


.strong {
  composes: copy;
  font-weight: 700;
}

.area {
  composes: copy;
  color: #444343;
  line-height: 25px;
  font-style: italic;
}

.activity .copy {
  color: #444343;
  line-height: 25px;
}