.root {
  margin-top: 100px;
  border-bottom: 1px solid #EFEFEF;
}

.header {
  margin-bottom: 40px;
  font-family: 'Helvetica Neue', Helvetica, san-serif;
  font-size: 50px;
  line-height: 60px;
  color: #000;
  text-align: center;
}

.copy {
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, san-serif;
  font-size: 16px;
  line-height: 26px;
  color: #777777;
  margin-bottom: 40px;
  padding: 0 15px;
  max-width: 600px;
}

.btn {
  composes: btn from 'containers/Protected/IndividualScholarships/style.css';
}

.more {
  color: #599CD9;
  cursor: pointer;
}

.btns {
  margin: 0 auto 50px;
  text-align: center;
}