.root {
  background-color: #fff;
  width: 100%;
  margin: 0 auto 100px;
}

.header {
  display: block;
  position: relative;
  font-family: 'Avenir Next', sans-serif;
  font-size: 24px;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  border: none;
  font-weight: 400;
  margin-top: 70px;
  color: #000;
}

.header:after {
  position: absolute;
  content: '';
  right: 0;
  left: 0;
  bottom: -10px;
  margin: 0 auto;
  border-bottom: none;
  width: 90px;
  height: 2px;
  background-color: #000;
}

@media (min-width: 1024px) {
  .header {
    font-size: 36px;
  }
}

.card {
  position: relative;
  border-radius: 2px;
  border-top: 7px solid #6087FF;
  font-family: HelveticaNeue-Light;
  margin: 70px auto 0;
  height: 520px;
  width: 340px;
  padding: 25px;
  box-shadow: 0px 8px 40px 0px rgba(72,85,105,0.15);
}

.content {
  font-family: HelveticaNeue-Light;
}

.title {
  text-transform: uppercase;
  color: #6087FF;
  font-size: 22px;
  line-height: 26px;
}

.annual {
  font-size: 40px;
  color: #6087FF;
}

.anno {
  color: #C66F06;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin-left: 5px;
  margin-top: 5px;
}

.divider {
  background-color: #6087FF;
  height: 2px;
  width: 208px;
}

.ul {
  margin-top: 15px;
}

.item {
  color: #403C3C;
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.img {
  position: absolute;
  left: 0;
  top: 15px;
}

.text {
  position: absolute;
  left: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  top: 0;
}

.btn {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  border: 1px solid #fff;
  background-color: #6087FF;
  border-radius: 22px;
  letter-spacing: 0px;
  padding: 10px 25px;
  margin: 10px 13px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #fff;
  color: #6087FF;
  border: 1px solid #6087FF;
}