.root {
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 7px;
  background: #fff;
}

.ul {
  display: block;
  margin: 20px auto 0;
  padding-left: 0;
}

@media (min-width: 800px) {
  .ul {
    margin-top: 40px;
  }
}

.li {
  display: block;
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 100px;
  color: #44BCEF;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .li {
    display: inline-block;
    width: 33.3333333333%;
  }
}

@media (min-width: 1000px) {
  .li {
    height: 138px;
    width: 20%;
  }
}

.link {
  text-decoration: none;
  outline: none;
}

.selected {
  background-color: transparent;
}

.active .selected {
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  background-color: #AF35C2;
  width: 100%;
  height: 5px;
}

.copy {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 1000px) {
  .copy {
    margin-top: 20px;
    min-height: 108px;
    border-left: 1px solid #979797;
  }
  .li:first-child .copy {
    border-left: none;
  }
}

@media (min-width: 1100px) {
  .copy {
    padding-bottom: 20px;
  }
}



.num {
  font-size: 40px;
  font-weight: 400;
  color: #44BCEF;
  text-align: center;
}

.caption {
  font-size: 16px;
  color: #44BCEF;
  text-align: center;
}
