.select {
  text-indent: 7.5px;
  margin-bottom: 20px;
  height: 45px;
  width: 100%;
  border: 1px solid #B2BCD3;
  box-shadow: none;
  color: #B2BCD3;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  outline-style: none;
  border-radius: 4px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.select option:not(:checked) {
  color : #000;
}

.select:focus {
  border: 1px solid #4570F0;
  box-shadow: none;
}