.root {
  width: 100%;
  padding-top: 110px;
}

.title {
  display: block;
  position: relative;
  margin: 70px auto 20px;
  padding-bottom: 10px;
  line-height: 40px;
  text-align: center;
  font-family: 'Avenir Next', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  border: none;
}

.title:after {
  position: absolute;
  content: '';
  background-color: #000;
  right: 0;
  left: 0;
  bottom: -10px;
  margin: 0 auto;
  border-bottom: none;
  width: 90px;
  height: 2px;
}

@media (min-width: 1024px) {
  .title {
    font-size: 36px;
  }
}

.clear {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.content {
  display: inline-block;
  padding: 50px 20px;
  width: 100%;
}

.carousel {
  composes: clear;
  float: left;
  width: 50%;
  padding: 10px;
}

.details {
  composes: clear;
  background-color: #fff;
  z-index: 4;
  width: 50%;
  float: left;
}

.slides {
  position: relative;
  z-index: 8;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  right: 100%;
  background-color: #fff;
  z-index: 1;
}

.slide.next {
  right: -100%;
  z-index: 0;
}

.slide.enqueue {
  transition: all 0.7s ease-in-out;
}

.slide.current {
  right: 0;
  z-index: 2;
  transition: all 0.7s ease-in-out;
  opacity: 1;
}

.img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-color: #fff;
}

.current .img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.bullet {
  composes: clear;
  width: 8.33333333%;
  float: left;
}

.num {
  height: 50px;
  width: 50px;
  color: #fff;
  text-align: center;
  padding: 8px;
  font-size: 24px;
  border-radius: 23%;
}

.bulletpoint {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid transparent;
}


.highlight {
  composes: bulletpoint;
  border: 1px solid #ccc;

}

.bulletpoint:first-child .num {
  background: linear-gradient(45deg, #1780ff 0%, #09dc5c 100%);
}

.bulletpoint:nth-child(2) .num {
  background: linear-gradient(45deg, #215edd 0%, #4abced 100%);
}

.bulletpoint:nth-child(3) .num {
  background: linear-gradient(45deg, #44008d 0%, #0a66cd 100%);
}

.point {
  display: inline-block;
  composes: clear;
  width: 83.33333333%;
  padding: 0px 0px 30px 30px;
  cursor: pointer;
  font-family: 'Avenir Next', sans-serif;
}

.h3 {
  margin-top: 5px;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 27px;
  transition: 0.3s color ease-in-out;
}

.h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #505050;
  margin-top: 10px;
  margin-bottom: 10px;
}