.root {
  position: relative;
  margin-bottom: 200px;
  height: 680px;
  width: 100%;
  background: linear-gradient(45deg, #215edd 0%, #4abced 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-position: center center;
}

.header {
  top: 100px;
}

@media (min-width: 720px) {
  .header {
    top: 150px;
  }
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  width: 75%;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

@media (min-width: 1024px) {
 .header {
    font-size: 30px;
 }
}

.header .line {
  line-height: 33px;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 500;
}

.copy {
  top: 210px;
  line-height: 23px;
  font-size: 17px;
}

@media (min-width: 720px) {
  .copy {
    top: 235px;
    line-height: 26px;
  }
}

@media (min-width: 1024px) {
  .copy {
    top: 245px;
  }
}

.copy {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  max-width: 845px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
}

.form {
  display: block;
  position: absolute;
  top: 355px;
  left: 0;
  right: 0;
  margin: 0 auto 40px;
  padding: 5px 30px;
  height: 450px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.15);
  background-color: white;
  z-index: 2;
}

@media (min-width: 720px) {
  .form {
    width: 500px;
  }
}