.root {
  position: absolute;
  height: 100%;
  z-index: 1;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.8s ease-in-out;
}

.root.rise {
  bottom: 100px;
}

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  left: 0;
}

.wrap:nth-child(2) {
  bottom: 60px;
}

.svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}

.path {
  transform-origin: 0% 100%;
  transform: scale(1, 0);
  transition: transform 1000ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.one {
  composes: path;
  transition-delay: 200ms;
}

.two {
  composes: path;
  transition-delay: 100ms;
}

.rise .one,
.rise .two {
  transform: scale(1, 1);
}