.root {
  text-align: center;
  padding: 50px;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  display: block;
  position: relative;
  margin: 0 auto 20px;
  line-height: 40px;
  text-align: center;
  font-family: 'Avenir Next', sans-serif;
  font-size: 24px;
  font-weight: 200;
  border: none;
}

.header:after {
  position: absolute;
  content: '';
  right: 0;
  left: 0;
  bottom: -10px;
  margin: 0 auto;
  border-bottom: none;
  background-color: #fff;
  width: 90px;
  height: 2px;
}

.box {
  position: relative;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.37);
  padding: 20px 15px 35px;
  width: 100%;
  max-width: 685px;
  color: #fff;
  font-family: 'Avenir Next', sans-serif;
}

.under {
  composes: box;
  color: #fff;
}

.over {
  composes: box;
}

@media (min-width: 1024px) {
  .box {
    width: 60%;
    padding: 20px 20px 35px;
  }
  .under {
    z-index: 2;
    margin-top: 50px;
  }
  .over {
    margin-top: 50px;
    top: -80px;
    z-index: 3;
    float: right;
  }
}

.box img {
  width: 75px;
  height: 75px;
}

.title {
  font-size: 18px;
  margin: 20px auto;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .title {
    margin-bottom: 10px;
    font-size: 26px;
  }

}

.body {
  font-weight: 200;
  font-size: 16px;
  line-height: 23px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.9);
}