.root {
  font-family: 'Avenir Next', sans-serif;
}

.title {
  position: relative;
  margin: -10px auto 45px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  color: #020f3c;
  text-align: center;
}

.title:after {
  position: absolute;
  content: '';
  width: 90px;
  height: 2px;
  background-color: #000;
  bottom: -2px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.price {
  color: #E1D113;
  font-weight: 800;
  margin-top: -30px;
  margin-bottom: 0;
  text-align: center;
  font-size: 50px;
  text-shadow: 5px 2px 12px rgba(225, 209, 19, 0.33);
}

@media (min-width: 1024px) {
  .price {
    font-size: 70px;
  }
}

.label {
  color: #B2BCD3;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
}

.label:after {
  content: "Average Amount Borrowed by Graduates in 2016";
}