.hero {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
  width: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: bottom;
  margin-bottom: 40px;
}

.sub {
  font-family: 'Avenir Next', sans-serif;
  font-size: 18px;
  font-weight: 200;
  opacity: 0.8;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.20);
  text-align: center;
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: #132663;
  opacity: 0;
}

.text {
  position: absolute;
  top: 252px;
  right: 0;
  left: 0;
  color: #fff;
}

.h1 {
  margin: 0 auto 15px;
  text-align: center;
  font-family: 'Avenir Next', sans-serif;
  color: #fff;
  width: 75%;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 42px;
  line-height: 1.1;
  text-shadow: 0px 1px 5px #949292;
}

.h1:after {
  content: "We're the Common App for Scholarships.";
}

.btn {
  font-family: 'Avenir Next', sans-serif;
  display: inline-block;
  position: absolute;
  top: 405px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 48px;
  border: 2px solid white;
  background: transparent;
  border-radius: 40px;
  padding: 10px 26px;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
  width: 220px;
  font-size: 16px;
  text-align: center;
  font-weight: 100;
  transition: 0.2s background-color ease-in;
}

.btn:hover {
  background-color: #fff;
  color: #0F9A7B;
}