.root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.marker {
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: 150px;
  width: 100%;
}

.dot {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  content: '';
  background-color: #FABC3D;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 10px auto;
}