.root {
  composes: box from 'site/Payment/style.css';
  font-family: 'Avenir Next', sans-serif;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .root {
    float: right;
  }
}

.select {
  text-indent: 7.5px;
  margin-bottom: 20px;
  height: 45px;
  width: 100%;
  border: 1px solid #B2BCD3;
  box-shadow: none;
  color: #B2BCD3;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  outline-style: none;
  border-radius: 4px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.select option:not(:checked) {
  color: #000;
}

.select:focus {
  border: 1px solid #4570F0;
  box-shadow: none;
}

.select option {
  color: #B2BCD3;
}

.selected {
  text-align: center;
  width: 70px;
  height: 1px;
  margin: 0 auto;
  margin-top: 5px;
  transition: all 0.1s ease-in-out;
  background-color: #2971E0;
}

.cc {
  margin: 0 auto 40px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #B2BCD3;
  border-radius: 5px;
  border-bottom: 6px solid #4A90E2;
}

.row {
  position: relative;
  height: 50px;
  margin-bottom: 20px;
}

.row select,
.row input {
  padding-left: 15px;
  border-radius: 5px;
  outline-style: none;
  color: #000;
  height: 50px;
  font-size: 15px;
  font-family: 'Avenir Next', sans-serif;
  border: 1px solid #B2BCD3;
  box-shadow: none;
}

.row select:focus,
.row input:focus {
  border: 1px solid #4570F0;
  box-shadow: none;
}

input::-webkit-input-placeholder {
  color: #B2BCD3;
}
input:-moz-placeholder {
  color: #B2BCD3;
  opacity: 1;
}
input::-moz-placeholder {
  color: #B2BCD3;
  opacity:  1;
}
input:-ms-input-placeholder {
  color: #B2BCD3;
}

.lock {
  position: absolute;
  top: 20px;
}

.full .lock {
  right: 20px;
}

.csc .lock {
  right: 40px;
}

.full {
  position: relative;
}

.full input {
  width: 100%;
}

.csc {
  position: relative;
}

.month,
.csc {
  float: left;
  width: 44%;
}

.year,
.zip {
  float: right;
  width: 53%;
}

.month,
.year {
  composes: select;
}

.label {
  position: relative;
  font-family: 'Avenir Next', sans-serif;
  font-size: 14px;
  color: #242424;
  height: 19px;
  line-height: 19px;
  margin-bottom: 10px;
}

.label img {
  position: absolute;
  right: 10px;
  top: -5px;
}

.label span {
  background-color: #3cd070;
  font-size: 9px;
  color: #fff;
  width: 16px;
  line-height: 16px;
  height: 16px;
  vertical-align: top;
  padding: 0px 4px;
  border-radius: 50%;
}

.tip {
  display: none;
}

.tip .arrow {
  position: absolute;
  bottom: -10px;
  right: 0;
  left: 70px;
  background-color: transparent;
  height: 10px;
  width: 15px;
  border-right: 15px solid transparent;
  border-top: 15px solid #000;
  border-left: 15px solid transparent;
  border-bottom: 5px solid transparent;
}

.label .csc:hover .tip {
  display: block;
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: -95px;
  left: -30px;
  z-index: 1;
  padding: 5px;
  border-radius: 4px;
  height: 90px;
  width: 170px;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.img {
  display: inline-block;
  margin-right: 5px;
  box-shadow: 0px 0px 5px 0px rgba(69,112,240,0.30);
}

.card {
  opacity: 1;
}

.disabled {
  cursor: pointer;
  opacity: 0.5;
}

.disabled:hover {
  opacity: 1;
}

.cards {
  margin: 0 auto;
  text-align: center;
  padding-top: 12.5px;
}

.submit {
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 12px;
  font-weight: 200;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  transition: 0.1s all ease-in;
  border: 1.5px solid #3cd070;
  background-color: #3cd070;
  color: #fff;
  cursor: pointer;
}

.submit:hover {
  background-color: #fff;
  color: #4570F0;
  border: 1px solid #4570F0;
}

.notify {
  color: red;
  margin-bottom: 15px;
  display: block;
  font-size: 12px;
  height: 17px;
  text-align: center;
}