.root {
  display: table;
  width: 100%;
  height: 475px;
  background-size: cover;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
}

.title {
  font-weight: 300;
  font-family: 'Avenir Next', sans-serif;
  letter-spacing: 1px;
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.title:after {
  content: "Based in Silicon Valley. Made with DC Love!";
}

.img {
  margin-bottom: 25px;
}

.caption {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 35px;
}

.btn {
  display: inline-block;
  width: 200px;
  padding: 10px;
  border-radius: 40px;
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid white;
  margin-top: 25px;
  transition: 0.2s all ease-in;
  margin-bottom: 60px;
  text-decoration: none;
  font-family: 'Avenir Next', sans-serif;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0);
}

.btn:after {
  content: "Check out Our Team!";
}