.root {
  padding-top: 70px;
  margin-bottom: 90px;
}

.title {
  font-family: 'Avenir Next', sans-serif;
  color: #353535;
  text-align: center;
  font-size: 26px;
  margin-bottom: 25px;
}

@media (min-width: 1024px) {
  .title {
    font-size: 36px;
  }
}

.title:after {
  content: "Have Questions? Pique Has Answers.";
}

.divider {
  height: 2px;
  background-color: #353535;
  width:  90px;
  margin: 0 auto;
}