.root {
  position: relative;
  background-color: #132663;
  height: 80px;
  width: 100%;
  color: #fff;
}

.navbar {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

.logo {
  position: absolute;
  left: 50px;
  top: 15px;
}

.nav {
  position: absolute;
  right: 50px;
  top: 20px;
  bottom: 0;
}

.link {
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
  margin-right: 40px;
  text-decoration: none;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  user-select: none;
}

.btn {
  display: inline-block;
  border: 1px solid #fff;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 10px 25px 10px;
  font-size: 14px;
}