.root {
  display: block;
  margin: 50px auto 0;
  width: 100%;
  text-align: left;
}

.item {
  display: inline-block;
  position: relative;
  height: 325px;
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 800px) {
  .item {
    width: 50%;
  }
}

@media (min-width: 1360px) {
  .item {
    width: 33.3333333333%;
  }
}

.wrap {
  position: relative;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 7px;
  color: #2B2A2A;
  max-width: 360px;
  box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.50);
}

.stripe {
  margin-top: 35px;
  border-radius: 3px;
  background-image: linear-gradient(225deg, #44BCEF 0%, #3FB2EE 11%, #195AE1 100%);
  height: 145px;
  width: 100%;
  color: #fff;
}

.name {
  position: absolute;
  left: 130px;
  top: 10px;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.rating {
  position: absolute;
  z-index: 2;
  left: 120px;
  top: 40px
}

.desc {
  position: absolute;
  top: 75px;
  left: 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  max-width: 330px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.img {
  position: absolute;
  top: -30px;
  left: 15px;
  height: 92px;
  width: 92px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  border-radius: 1px;
  border: 3px solid #fff;
  z-index: 1;
}

.body {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.details {
  height: 100%;
  padding: 10px 15px;
  height: 150px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.info {
  color: #454444;
  font-size: 16px;
}

.info:after {
  display: block;
  content: '';
  clear: both;
}

.title,
.val {
  font-size: 15px;
  line-height: 35px;
}

.title {
  float: left;
  width: 30%;
  color: #383737;
  font-weight: 800;
  text-transform: uppercase;
}

.val {
  float: right;
  width: 70%;
  color: #444343;
  font-weight: 300;
}

.activity {
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view {
  position: absolute;
  right: -5px;
  bottom: 30px;
}

.btn {
  display: inline-block;
  font-family: 'HelveticaNeue-Medium', Helvetica;
  font-size: 14px;
  color: #44BCEF;
  font-size: 14px;
  font-weight: 500;
  width: 215px;
  padding: 10px 0;
  background-color: #fff;
  border: 2px solid #0A66CD;
  border-radius: 3px;
  margin-right: 25px;
}