.root {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 70px 15px;
}

.header {
  display: block;
  position: relative;
  margin: 0 auto 70px;
  line-height: 40px;
  text-align: center;
  font-family: 'Avenir Next', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #4A90E2;
  border: none;
}

.header:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: -10px;
  margin: 0 auto;
  border-bottom: none;
  background-color: #4A90E2;
  width: 90px;
  height: 2px;
}

.btn {
  display: block;
  margin: 0 auto;
  width: 300px;
  padding: 10px;
  border-radius: 40px;
  background-color: #09DF58;
  color: #fff;
  text-align: center;
  font-size: 16px;
  border: 2px solid #09DF58;
  font-weight: 200;
  transition: 0.1s all ease-in;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(49, 210, 108, 0.5);
}

.btn:hover {
  color: #09DF58;
  background-color: #fff;
  border: 2px solid #09DF58;
  box-shadow: 0px 5px 12px rgba(49, 210, 108, 0.3);
}