.root {
  position: relative;
  z-index: 1002;
  height: 100%;
  width: 100%;
}

.root.open {
  overflow: hidden;
}

.router {
  opacity: 0;
}

.ready {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}