body#about{
  .about-banner{
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  .nav-link{
    color: white;
  }
  #login-button{
    background-color:transparent;
    border:1px solid white;
  }
  .about-header{
    background-image: url('images/about/about-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 490px;
    width: 100%;
    h1{
      font-size: 30px;
      text-align: center;
      font-family: 'Avenir Next', sans-serif;
      color: white;
      width: 75%;
      margin: 0 auto;
      margin-top: 150px;


    }
  }
}
