#landing-section{
  background-color: #E7DDC3;
  text-align:center;
  h6{
    font-family: 'Platino', serif;
    font-size: 14px;
  }
  h1{
    font-family: 'Platino', serif;
    font-size: 64px;
    color: #E7B63C;
    letter-spacing: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  h3{
    font-size: 14px;
    font-family: 'Avenir Next';
    color: black;
    font-weight: 400;
  }
}

body#blog{
  .clearfixx{
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 10px 30px;
  }
  .logo-container #logo{
    height: 40px;
  }
  .nav-link{
    color: black;
  }
  .light{
    display: none !important;
  }
  #login-button{
    background-color: transparent;
    color: black;
    border:1px solid black;
    border-radius: 20px;;
  }
  .bottom-number{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom:20px;
    h1{
      color: black;
      letter-spacing: 0px;
      margin-bottom: 0;

    }
    h4{
      font-weight: 400;
      margin-top: -4px;
      margin-bottom: 25px;
    }
  }
}
body:not(.fp-viewing-0){
  .clearfixx{
    background-color: black;
    .light{
      display: none !important;
    }
    .dark{
      display: block !important;
    }
    .nav-link{
      color: white !important;

    }
    #login-button{
      color: #E7B63C !important;
      border: 1px solid #E7B63C !important;
    }
  }
}
.section{
  margin-top: 0;
}
