body#educator{


.gradient-header{
  background: #215edd; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #215edd 0%, #4abced 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #215edd 0%,#4abced 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #215edd 0%,#4abced 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215edd', endColorstr='#4abced',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-position: center center;
  height: 720px;
  width: 100%;
  position: relative;


  h1{
    font-size: 30px;
    text-align: center;
    font-family: 'Avenir Next', sans-serif;
    color: white;
    width: 75%;
    margin: 0 auto;
    position: absolute;
    top: 214px;
    left: 0;
    right: 0;
    @media screen and (max-width: 991px) {width: 100%;}


  }
  &:after{
    width: 100%;
    height: 100%;
    display: inline-block;
    content: '';
    background: black;
    opacity: 0;
    transition: 0.5s opacity ease-in;
  }
  h6{
    position: absolute;
    top: 307px;
    color: white;
    width: 54%;
    font-size: 17px;
    text-align: center;
    font-weight: 100;
    margin: 0 auto;
    left: 0;
    line-height: 26px;
    right: 0;
  }
  &.fixed-header{

    &:after{
      opacity: 1;
      transition: 0.5s opacity ease-in;
    }
  }


}
.black-header{
      background-color: black;


}

}

.banner-form{
  width: 500px;
  height: 380px;
  background-color: white;
  box-shadow: 0px 0px 33px #1e6cad;
  display: block;
  margin: 40px auto;
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
}
