#provider{
  .gradient-header{
    background: #215edd;
    background: -moz-linear-gradient(45deg, #215edd 0%, #4abced 100%);
    background: -webkit-linear-gradient(45deg, #215edd 0%, #4abced 100%);
    background: linear-gradient(45deg, #215edd 0%, #4abced 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#215edd', endColorstr='#4abced', GradientType=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-position: center center;
    margin-bottom: 42px;
    height: 600px;
    width: 100%;
    position: relative;
    .header-text{
      position: absolute;
      top:160px;
      left: 100px;
      color: white;
      h1{
        font-size: 26.5px;
        line-height: 36px;
      }
      h6{
        font-size: 16px;
        font-weight: 200;
        line-height: 23px;
      }
      ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
      }

      li {
        padding-left: 1em;
        text-indent: -1em;
        line-height: 28px;
      }

      li:before {
        content: url('images/provider/check.png');
        padding-right: 14px;
      }
    }



  }

}
