

body#students{
  .row{
    margin: 0;
  }
  .white-section{
      padding: 0px 122px 76px;
      text-align: center;
      font-family: 'Avenir Next',sans-serif;
      .section-header{
        color: #4E6DFF;
        border-color: #4E6DFF;
        font-weight: 500;
        letter-spacing: 1px;
        &:after{
          background-color: #4E6DFF;
        }
      }
  }

  .gradient-header h6{
    width: 69%;
  }

}

form#student{
  .select-slider-container{
    display: block;
left: 0;
right: 0;
text-align: center;
width: auto;
  }
}

#how-it-works-info{
  .section-header:after{
    right: 46%;
  }
}
.current-way{
  padding:20px 50px;
  img{
    width: 100%;
  }
}
.pique-difference{
  background: #44008D;
color: white;
position: relative;
  padding:50px;
  display: inline-block;
  background: -moz-linear-gradient(45deg,  #44008D 0%, #194BBC 100%);
  background: -webkit-linear-gradient(45deg,  #44008D 0%,#194BBC 100%);
  background: linear-gradient(45deg,  #44008D 0%,#194BBC 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44008D', endColorstr='#194BBC',GradientType=1 );
  #grad{
    position: absolute;
    left: 44.5%;
    margin-top: 96px;
    z-index: 1;
    &.fixed-grad{
      position: fixed;
      top:150px;
      z-index: 1;
    }
    &.end-grad{
      position: absolute;
      bottom: 285px;
    }
  }
  .section-header{
    color: white !important;
    font-size: 24px !important;
    font-weight: 200 !important;
    margin-top: 0 !important;
    margin-bottom: 70px !important;
    &:after{
      background-color: white !important;
      right: 45.5%;
    }
  }
  .diff-text{
    width: 40%;
    text-align: left;
    line-height: 24px;
    color: rgba(255,255,255,0.9);
    font-size: 16px;
    height: 400px;
    display: inline-block;
    font-weight: 200;
    position: relative;
    &.pull-right{
      text-align: right;
      &:before {
        content: '';
        background-color: #FABC3D;
        height: 16px;
        width: 16px;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        right: 122.65%;
        top: 0;
      }

    }
    &.pull-left{
       &:after{
         content: '';
         background-color: #FABC3D;
         height: 16px;
         width: 16px;
         display: inline-block;
         border-radius: 50%;
         position: absolute;
         left: 123.5%;
         bottom: 200px;
      }

    }
    h3{
      color:white;
      font-weight: 300;
    }
    img{
      width: 90%;
    }
  }
  .button{
    border-radius: 50px;
    padding: 7px 20px;
    &.filled{
      background-color: white;
      border: 2px solid white;
      color: #2213B1;
      margin-top: 30px;
      display: inline-block;
    }
  }
  .essay-example{
    background-color: white;
    border-radius: 8px;
    color: #3845C1;
    margin-top: 20px;
    display: inline-block;
    padding: 20px;
    font-size: 16px;
    text-align: left;
    font-weight: 200;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  }


}

.white{
  text-align: center;
  .section-header{
    font-size: 24px !important;
    color: #4A90E2 !important;
    font-weight: 400 !important;
    &:after{
      background-color: #4A90E2;
    }
  }
  .button.green{
    background-color: #31D26C !important;
    color: white;
    font-size: 16px;
    font-weight: 200;
    width: 300px;
    padding: 10px;
    text-align: center;
    margin: 50px auto 90px;
    display: inline-block;
    border-radius: 60px;
    transition: 0.3s background-color ease-in;
    box-shadow: 0px 10px 20px rgba(49,210,108,0.5);
    &:hover{
      background-color: #33B060 !important;
    }
  }
}
