.root {
  position: relative;
  height: 100%;
  background: linear-gradient(-45deg, #44008d 0%, #125aac 100%);
  color: #fff;
  height: 1250px;
  font-family: 'Avenir Next';
}

.mask {
  display: block;
  overflow: hidden;
  position: absolute;
  transform: skew(0deg,-15deg);
  background: linear-gradient(-45deg, #44008d 0%, #194bbc 100%);
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 1120px;
  top: 500px;
}

.half {
  position: relative;
  height: 1000px;
  margin-top: 0;
}

.half:first-child {
  z-index: 3;
  height: 1000px;
}

.fst {
  display: block;
  position: relative;
  padding: 0 50px;
  padding-top: 20px;
  z-index: 1;
}

.scd {
  display: block;
  position: absolute;
  z-index: 5;
  height: 550px;
  top: -270px;
  padding: 0 50px;
  padding-top: 20px;
  right: 0;
  left: 0;
}

.img {
  display: block;
  animation-duration: 1s;
  animation-fill-mode: both;
  vertical-align: middle;
  opacity: 0;
}

.img1 {
  composes: img;
  animation-name: fadeInRight;
  width: 50%;
  position: absolute;
  top: -200px;
  right: 0;
  height: auto;
  z-index: 5;
}

.img2 {
  composes: img;
  position: absolute;
  animation-name: fadeInLeft;
  width: 50%;
  left: 0;
  top: 200px;
  z-index: 3;
}

.copy {
  width: 70%;
  font-size: 18px;
  line-height: 24px;
  max-width: 800px;
  color: #fff;
}

.left {
  composes: copy;
  margin-bottom: 0px;
  float: right;
  text-align: right;
}

.right {
  composes: copy;
  position: absolute;
  bottom: 70px;
  text-align: left;
  float: left;
}

.title {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 27px;
}

.btns {
  min-height: 67px;
}

.btns1 {
  composes: btns;
  text-align: right;
}

.btns2 {
  composes: btns;
  text-align: left;
}

.btn {
  display: inline-block;
  position: relative;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 180px;
  padding: 7px;
  margin: 25px 13px 10px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.btn:first-child {
  background-color: #fff;
  color: #44008D;
}

.btn:first-child:hover {
  background-color: #44008D;
  color: #fff;
}

.btn:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

.lines {
  font-weight: 200;
  line-height: 24px;
  margin-bottom: 40px;
}

.line {
  display: block;
  font-weight: 200;
  line-height: 24px;
  font-size: 18px;
}

.lead {
  font-weight: 600;
}

.line1 {
  composes: line;
  text-align: right;
}

.line2 {
  composes: line;
  text-align: left;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

