.root {

}

.row {
  composes: row from '../style.css';
}

.label {
  composes: label from '../style.css';
}

.field {
  composes: field from '../style.css';
}

.input {
  composes: input from '../style.css';
}

.copy {
  composes: copy from '../style.css';
}