.root {
  text-align: center;
  margin: 20px auto;
}

.label {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  color: #333;
}

.radio {
  margin-right: 10px;
}