.root {
  display: none;
}

@media (min-width: 1024px) {
  .root {
    display: inline-block;
    float: left;
    width: 215px;
    height: 100%;
    color: #fff;
    background-image: linear-gradient(0deg, #0E5CB5 4%, #194BBC 40%, #220044 100%, #44008D 100%);
    box-shadow: 8px 0px 30px 0px rgba(72,85,105,0.15);
  }
}

.student {
  position: relative;
  height: 260px;
  width: 100%;
  padding-top: 45px;
  text-align: center;
  margin: 0 auto;
}

.img {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 105px;
  width: 105px;
  border-radius: 50%;
}

.border {
  position: relative;
  border-radius: 50%;
  margin: 0 auto 20px;
  height: 109px;
  width: 109px;
  background-image: linear-gradient(-229deg, rgba(23,127,255,0.80) 1%, rgba(18,159,199,0.80) 27%, rgba(5,250,39,0.80) 100%);
}

.name {
  font-size: 13px;
  font-family: 'HelveticaNeue-light', Helvetica;
  font-weight: 300;
}




