.clearfix {
  zoom: 1;
}

.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.root {
  composes: clearfix;
  width: 1130px;
}

.profile {
  display: inline-block;
  position: relative;
  height: 490px;
  width: 500px;
  background-color: #FAFAFA;
  border-radius: 7px;
  box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.50);
  margin-top: 50px;
}

.profile:nth-of-type(1) {
  float: left;
}

.profile:nth-of-type(2) {
  float: right;
}

.stripe {
  margin-top: 35px;
  border-radius: 3px;
  background-image: linear-gradient(229deg, #44BCEF 1%, #3FB1ED 11%, #1A5BE1 100%);
  height: 175px;
  width: 100%;
  color: #fff;
}

.name {
  position: absolute;
  left: 160px;
  top: 50px;
  font-size: 20px;
  font-family: 'HelveticaNeue-Light', Helvetica;
  font-weight: 300;
}

.name1,
.name2  {
  composes: name;
}

.name1:after {
  content: "Brian Rucker";
}

.name2:after {
  content: "Zakiya Gibbons";
}

.desc {
  position: absolute;
  top: 140px;
  left: 20px;
  width: 90%;
  font-size: 16px;
  text-align: justify;
  font-family: 'HelveticaNeue-Light', Helvetica;
  font-weight: 300;
}

.desc1,
.desc2 {
  composes: desc;
}

.desc1:after {
  content: "I’m a social activist and tech enthusiast. In the fall, I will study philosophy at Haverford College.";
}

.desc2:after {
  content: "I am a student journalist passionate about ‘story telling’ and using it as a vehicle to unearth truths and educate.";
}

.img {
  position: absolute;
  top: 0;
  left: 15px;
  height: 130px;
  width: auto;
  z-index: 1;
}

.body {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.details {
  height: 100%;
  padding: 30px;
}

.gpa,
.activities {
  margin-bottom: 30px;
  color: #454444;
  font-size: 16px;
}

.title {
  display: inline-block;
  width: 140px;
  text-transform: uppercase;
  vertical-align: top;
}

.val {
  display: inline-block;
}

.activity {
  line-height: 30px;
}

.view {
  position: absolute;
  right: -5px;
  bottom: 30px;
}

.btn {
  display: inline-block;
  font-family: 'HelveticaNeue-Medium', Helvetica;
  font-size: 14px;
  color: #44BCEF;
  font-size: 14px;
  font-weight: 500;
  width: 215px;
  padding: 10px 0;
  background-color: #fff;
  border: 2px solid #0A66CD;
  border-radius: 3px;
  margin-right: 25px;
}