.root {
  padding-bottom: 90px;
  margin-top: -80px;
  padding: 20px 15px 0;
  background-color: #F9FBFF;
  text-align: center;
}

.title {
  display: block;
  position: relative;
  margin: 70px auto 0;
  padding-bottom: 10px;
  line-height: 40px;
  text-align: center;
  font-family: 'Avenir Next', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  border: none;
}

.title:after {
  position: absolute;
  content: '';
  right: 0;
  left: 0;
  bottom: -10px;
  margin: 0 auto;
  border-bottom: none;
  background-color: black;
  width: 90px;
  height: 2px;
}

.root img {
  margin: 40px auto;
}

.text {
  font-family: 'Avenir Next', sans-serif;
  margin: 0 auto;
  width: 100%;
  max-width: 890px;
  margin-bottom: 30px;
}

.line {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.line span {
  font-weight: 700;
}