.root {
  background-image: linear-gradient(208deg, #0A66CD 0%, #194BBC 23%, #3D0D95 76%, #44008D 87%);
  color: #fff;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: 'Avenir Next', sans-serif;
}

.header {
  display: block;
  position: relative;
  margin: 0 auto 20px;
  padding-top: 70px;
  line-height: 40px;
  text-align: center;
  font-family: 'Avenir Next', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  border: none;
}

.header:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: -10px;
  margin: 0 auto;
  border-bottom: none;
  background-color: #fff;
  width: 90px;
  height: 2px;
}

.items {
  margin-top: 100px;
}

.item {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 600px;
  vertical-align: top;
}

@media (min-width: 1024px) {
  .item {
    width: 50%;
  }
}

.icon {
  position: relative;
  margin: 0 auto;
  height: 200px;
  width: 140px;
}

.num {
  display: inline-block;
  position: absolute;
  top: -30px;
  right: -30px;
  background-color: #FF0053;
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  padding: 2px;
  font-size: 48px;
}

.title {
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  margin: 0 auto;
  height: 60px;
  max-width: 330px;
}

.body {
  margin: 0 auto 40px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 200;
  max-width: 260px;
}

.btn {
  position: relative;
  margin: 50px auto;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 8px 25px;
  color: #fff;
  width: 300px;
  height: 50px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 100;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn:hover {
  background-color: #fff;
  color:  #205fdc;
}